#page-header h1 {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 20px 0 1em;
}
h2 {
    font-size: 2em;
}
h2, h3 {
    color: #2e782b;
}
body {
    color: black;
    font: 0.75em/1.417em Arial,sans-serif;
}

#main #faux-footer {
    height: 75px;
}
#faux-footer {
    width: 100%;
}
#page-footer {
    text-align: center;
}
#page-footer {
    clear: both;
    height: 75px;
    position: relative;
}
#main {
    clear: both;
    height: auto !important;
    margin-bottom: -75px;
    min-height: 100%;
}

#nav td {
    font-weight: bold;
    height: 2em;
    padding: 10px;
    width: 20em;
    border: 1px blue solid;
    text-align: center;
    border-radius: 5px;
}

.selected {
    background-color: powderblue;
}
.grid-container::before, .clearfix::before, .grid-container::after, .clearfix::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.grid-container::after, .clearfix::after {
    clear: both;
}
.grid-container::before, .clearfix::before, .grid-container::after, .clearfix::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.grid-parent {
    padding-left: 0;
    padding-right: 0;
}
.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}
address {
    font-style: normal;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.nofloat {
  clear: left;
}
.floating-box {
  float: left;
  margin: 10px;
}
.table {
    border-collapse: collapse;
}
.th {
    border: 1px black solid;
    padding: 10px;
    font-size: 12px;
}
.tr {
    border: 1px black solid;
    padding: 10px;
    font-size: 12px;
}
.node {
      stroke: black;
      fill: none;
      stroke-width: 1.5px;
}
.nodes ellipse.base {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
}
.nodes ellipse.node {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
