#page-header h1 {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 20px 0 1em;
}
h2 {
    font-size: 2em;
}
h2, h3 {
    color: #2e782b;
}
body {
    color: black;
    font: 0.75em/1.417em Arial,sans-serif;
}

#main #faux-footer {
    height: 75px;
}
#faux-footer {
    width: 100%;
}
#page-footer {
    text-align: center;
}
#page-footer {
    clear: both;
    height: 75px;
    position: relative;
}
#main {
    clear: both;
    height: auto !important;
    margin-bottom: -75px;
    min-height: 100%;
}

#nav td {
    font-weight: bold;
    height: 2em;
    padding: 10px;
    width: 20em;
    border: 1px blue solid;
    text-align: center;
    border-radius: 5px;
}

.selected {
    background-color: powderblue;
}
.grid-container::before, .clearfix::before, .grid-container::after, .clearfix::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.grid-container::after, .clearfix::after {
    clear: both;
}
.grid-container::before, .clearfix::before, .grid-container::after, .clearfix::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.grid-parent {
    padding-left: 0;
    padding-right: 0;
}
.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}
address {
    font-style: normal;
}
